.Login-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    
}

.Login-container section.form{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Login-container section.form img{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Login-container section.form form{
    outline: 0;
}

.Login-container section.form h1{
    font-size: 32px;
    margin-bottom: 32px;
    color: #fff;
}